.search-nav{
    display: flex;
    flex-direction: row;
}


#searchInput {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-image: url('assets/search.png'); /* Use url() for background-image */
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-right: 10px;
    box-sizing: border-box; /* Include padding and border in the width */
}

.search-bar {
    position: relative; /* Add this line to set the positioning context */
    flex-grow: 1;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 3%;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    background-color: #fff;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 3px; /* Add rounded corners */
}

.search-results li {
    padding: 8px;
    cursor: pointer;
    display: flex; /* Align icon and text in a row */
    align-items: center; /* Center vertically */
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.search-results img {
    width: 24px; /* Adjust the size of the profile icon */
    height: 24px;
    margin-right: 8px;
    border-radius: 50%; /* Create a circular profile icon */
}