* {
    box-sizing: border-box;
}
  

h1{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 10px;
    font-family: "Trebuchet MS";
    text-align: center;
    color: black;
}


body::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(128, 128, 128, 0.136) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.136), transparent 1px);
    pointer-events: none;
}


body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFDAA9;
}

.fa-solid fa-magnifying-glass fa-xl{
    color: #FFA05F;
}

.sidenav {
    float: left;
    width: 5%;
    z-index: 1;
    top: 60px;
    left: 10px; 
    background-color: #50505038;
    overflow-x: hidden;
    transition: 0.3s; /* smooth transition effect for opening/closing */
}

.sidenav a {
    padding: 16px;
    text-decoration: none;
    display: block;
    color: #fff; 
    transition: 0.2s; 
}

.sidenav a:hover {
    background-color: #ddd; 
    color: #000;
}

/* don't know if we're keeping, optionally style the sidebar links differently when they are active (current page) */
.sidenav a.active {
    background-color: #555;
}

.sidenav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.content {
    margin-left: 200px;
    padding-left: 20px;
}


.post{
    background: #F2CDA3;
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: inset 0 0 0 5px #FFA05F;
}

.post-feed {
    width: 95%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stamp {
    margin: 0 auto;
    width: 860px;
    display: inline-block;
    padding: 10px;
    position: relative;
    /*-webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.218));*/
    background: radial-gradient(
        transparent 0px, 
        transparent 4px, 
        #ff2205b4 4px,
        #FF2405
    );
    background-size: 20px 20px;
    background-position: -10px -10px;
}

.stamp + .stamp{
    margin-top: 5%;
}


.user-profile {
    flex: 0 0 auto; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px;
    margin-top: 5%;
}

.post h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#102651;
}

.post p{
    color:#102651;
}

.post .metadata {
    font-size: 14px;
    color: grey;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}


.navbar{
    position: relative;
    margin-top: 0%;
    margin-bottom: 2%;
    width: 100%;
    background-color: #50505038;
    overflow: visible;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "monaco";
    color: #C9656A;
    margin-right: 0px;
    margin-left: 200px;
}

.search-nav{
    display: flex;
    flex-direction: row;
}

.search-bar {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 3%;
}


/*.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
*/
.search-bar input[type="text"] {
    width: 300px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    background-position: 10px center; 
    background-repeat: no-repeat;
    padding-left: 30px; 
    margin-right: 10px;
}

.search-bar input[type="text"]::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: 'assets/search.png'; /* icon needed */
    background-size: 16px 16px; 
    margin-right: 10px; 
}

.profile-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.profile-nav{
    display: flex;
    flex-direction: row;
    margin-right: 10px;

}

.check-in-btn{
    position: absolute;
    top: 10%;
    right: 10px;
    background-color: #55566C;
}

.check-in-btn:hover{
    background-color:#888
}

.check-in-stamp {
    height: 60px;
    width: 116px;
    display: flex;
    padding: 10px;
    right: 1%;
    background: white;
    position: fixed;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    background: radial-gradient(
        transparent 0px, 
        transparent 4px, 
        #98C794 4px,
        #98C794
    );

    /*reducing the gradient size*/
    background-size: 20px 20px;
    /*Offset to move the holes to the edge*/
    background-position: -10px -10px;
 }

/* profile page */
.profile-page {
    display: flex;
}

.left-section {
    flex: 1;
    padding: 20px;
}

.profile-picture {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
}

.user-info {
    margin-top: 20px;
    font-size: 18px;
}

.middle-section {
    flex: 2;
    padding: 20px;
}
.right-section {
    flex: 1;
    padding: 20px;
    background-color: #f1f1f1;
}

.picture {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .profile-page {
        flex-direction: column;
    }
    .left-section, .middle-section, .right-section {
        width: 100%;
    }
}